@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Urbanist, Arial, Helvetica, sans-serif;
}

#rememberMe {
  display: none;
}

#customRadio {
  display: inline-block;
  width: 20px; /* Adjust size as needed */
  height: 20px;
  border: 2px solid rgba(99, 69, 237, 1); /* Outer circle color */
  border-radius: 50%; /* Ensures it’s circular */
  margin-right: 8px;
  position: relative;
  vertical-align: middle;
}

#rememberMe:checked + #customRadio {
  background-color: transparent; /* Keeps the outer circle empty */
}

#customRadio::after {
  content: "";
  width: 12px; /* Reduced size for padding effect */
  height: 12px;
  background: rgba(99, 69, 237, 1); /* Inner circle color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Hidden when not checked */
}

#rememberMe:checked + #customRadio::after {
  display: block; /* Shows the filled inner circle when checked */
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-thumb {
  background-color: purple; /* Color of the scrollbar thumb */
  border-radius: 50px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6a0dad; /* Thumb color when hovered */
}

/* src/styles/global.css or src/styles/tailwind.css */
.input-field {
  @apply p-3 bg-blueLight dark:bg-black rounded-md border border-bluishBorder dark:border-purple-700 focus:ring-2 focus:ring-purple-500 focus:outline-none;
}
.progress-bar {
  background-color: #6345ed !important;
}
.progress-success {
  background-color: #6a0dad;
}
@keyframes slideRightToLeft {
  0% {
    transform: translateX(
      120px
    ); /* Start further to the right for a stronger effect */
  }
  100% {
    transform: translateX(0); /* End at the normal position */
  }
}

.animate-slide-right-to-left {
  animation: slideRightToLeft 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.custom-toast-info .Toastify__toast-icon--info {
  color: #dc39fc !important;
}
